.photo {
    margin: 0 auto;
    width: 90%;
    // background: rgba(128, 128, 0, 0.116);

    .photo__title {
        font-size: 1.3em;
        margin: 2em 0;
        color: #5f5f5f;
        font-weight: 500;
    }

    .photo_progettis {
        display: flex;
        flex-direction: column;

        .photo_progetti {
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            cursor: pointer;
            max-width: 80vw;

            @media (max-width:640px) {
                max-width: 100vw;
            }

            .photo_progett__hover-wraper {

                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                transform: scale(1);
                transition: all 2s;
                transition: transform 1s, opacity 2s 1350ms;
                opacity: 0;
            }

            .photo_progett__hover-wraper--girl {
                background: url('../../img/girl.jpg');
                background-size: 100%;
            }

            .photo_progett__hover-wraper--wine {
                background: url('../../img/wine.jpg');
                background-size: 100%;
            }

            .photo_progett__hover-wraper--watch {
                background: url('../../img/watch.jpg');
                background-size: 100%;
            }



            &:hover {
                .photo__main-info {
                    transition: all 350ms 350ms;
                    transform: translateY(-30px);
                }

                .photo__main--sub {
                    .photo__main--arrow {
                        opacity: 1;
                        transform: translateX(0);
                        transition: all 300ms 350ms;
                    }

                    .photo__main--sub-text {
                        opacity: 1;
                        transform: translateX(0);
                        transition: all 700ms 350ms;
                    }
                }

                .photo_progetti--shadow {
                    transition: all 350ms 350ms;
                    opacity: 0.5;
                }

                .photo_progetti--shadow-hover {
                    transition: all 10ms 350ms;
                    opacity: 1;
                }

                .photo_progetti--photo {
                    opacity: 0;
                }

                .photo_progett__hover-wraper {
                    opacity: 1;
                    transform: scale(1.1);
                    transition: transform 1s 350ms;
                }
            }

            .photo__main--sub {
                position: absolute;
                bottom: 25px;
                left: 20px;
                z-index: 3;

                .photo__main--arrow {
                    opacity: 0;
                    transform: translateX(-20px);
                }

                .photo__main--sub-text {
                    opacity: 0;
                    color: white;
                    font-weight: 500;
                    margin-left: 1em;
                    transform: translateX(-20px);
                    display: inline-block;
                }
            }

            .photo_progetti--photo {
                width: 100%;
                opacity: 1;
                position: relative;
                // transition: all 1s;
            }

            .photo_progetti--shadow {
                transition: all 350ms;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 2;
                background: linear-gradient(to top, black 1%, transparent 40%);
            }

            .photo_progetti--shadow-hover {
                opacity: 0;
                transition: all 350ms;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 2;
                background: linear-gradient(to top, #1d2643 5%, transparent 40%);
            }

            .photo_progetti--shadow-hover-color2 {
                background: linear-gradient(to top, #451530 5%, transparent 40%);
            }

            .photo_progetti--shadow-hover-color3 {
                background: linear-gradient(to top, #a5921a 5%, transparent 40%);
            }

            .photo__main-info {
                transition: all 350ms;
                position: absolute;
                bottom: 30px;
                left: 20px;
                z-index: 3
            }

            .photo__main-info--first {
                font-size: 1em;
                font-weight: 500;
                color: white;
            }

            .photo__main-info--second {
                font-weight: 300;
                font-size: 1.5em;
                color: white;
            }
        }

        @media (min-width:870px) {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;

            .photo_progetti {
                flex-grow: 1;
            }
        }
    }
}